.careerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 15px;
}

.navButton>* {
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 16px 32px;
    width: 126px;

    &.loginButton {
        background: #F5F5F5;
    }

    &.registerButton {
        background: #78B3FE;
    }
}

.careerText{
    padding: 10px;
}


@media ((min-width: 320px) and (max-width: 480px)) {
    .careerContainer {
        margin: 10px;
    }
    .careerText{
        padding: 7px;
    }
    .navButton {
        display: flex;
    }
    .navButton>* {
        margin: 3px;
        padding: 5px 3px;
        width: 70px;

    }
    .path>* {
        width: 125px;
        height: 125px;
    }

}

@media ((min-width: 481px) and (max-width: 768px)) {
    .path>* {
        width: 250px;
    }

    .careerText{
        font-size: 1.3em;
    }

}

@media ((min-width: 769px) and (max-width: 1024px)) {
    .path>* {
        width: 300px;
    }

    .careerText{
        font-size: 1.5em;
    }

}

@media ((min-width: 1025px) and (max-width: 1200px)) {
    .path>*{
        width: 400px;
    }

    .careerText{
        font-size: 1.7em;
    }
}

@media (min-width: 1201px) {
    .careerText{
        font-size: 2em;
    }
}