.footerContainer {
    background: #3173C8;
    color: #fff;
    margin-top: 40px;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 25px;
}

.socials {
    &>* {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 5px;
    }
}

.copyright {
    border-top: 1px solid;
    text-align: center;
    padding: 15px;
}