.welcomebg{
    // height: 50vw;
    background-image: url(../../../../Assets/Images/Students.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 35px;   

    &>.welcomeContainer{
        margin: 0px;
        text-align: center;

        
        
        &>.welcomeText{
            &>h2{
                margin: 0px;
            }

            // &>p{
            //     font-weight: 700;
            //     font-size: 16px;
            // }
            
        }
    }
    
}



.register{
    background: #FAB03C;
    text-align: center;
    padding: 15px 70px; 
    border: none; 
}

