.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.navButton>* {
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 16px 32px;
    width: 126px;

    &.loginButton {
        background: #F5F5F5;
    }

    &.registerButton {
        background: #78B3FE;
    }
}