.MidSection {
  margin: 3em 9em;

  &>h3 {
    text-align: center;
  }

  &>.coursesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(130px, auto);


    &>.courses {
      border: 1px solid #3771C8;
      box-shadow: 0px 4px 4px 0px rgba(55, 113, 200, 0.3);
      text-align: center;

      &>* {
        margin: 15px;
      }

    }
  }


}



// Media Queries

@media ((min-width: 320px) and (max-width: 480px)) {
  .MidSection {
    margin: 3em 5em;

    .coursesContainer {
      grid-template-columns: none;

    }
  }



}

@media ((min-width: 481px) and (max-width: 768px)) {
  .MidSection {
    margin: 3em ;


    &>.coursesContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media ((min-width: 769px) and (max-width: 1024px)) {
  
}

@media ((min-width: 1025px) and (max-width: 1440px)) {}

@media (min-width: 1200px) and (max-width: 1440px) {}

@media (min-width: 1440px) {}