.DashboardContainer {
  display: flex;
  justify-content: space-between;
}

.searchCourses {
  margin: 15px;
  border-radius: 15px;
  border: 1px solid #3173C8;
}

.searchBox {
  display: flex;
  padding: 5px 20px;
  align-items: center;
  border-radius: 15px;
  transition: background 0.25s;
  border-radius: 15px;
  border: 1px solid #023;

  &:hover {
    border-radius: 15px;
    border: 1px solid #3173C8;
  }

  &:focus-within {
    border: 2px solid #3173C8;
  }
}

.searchButton{
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  background: #023;
  color: #fff;
}

.input {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 600;
  flex: 1;
}

.courselist{
  margin: 10px 40px;

  &>*{
    padding: 10px;
  }
}

.MidSection {
  margin: 2rem;

  &>p {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
  }

  &>.coursesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    grid-auto-rows: minmax(170px, auto);


    &>.courses {
      border: 1px solid #3771C8;
      border-radius: 12px;
 
      box-shadow: 0px 4px 8px 0px #000000aa;
      text-align: center;

      &:hover {
        background: #3172c8c7;
      }

      &>* {
        margin: 15px;
      }

    }
  }


}



// Media Queries

@media ((min-width: 320px) and (max-width: 480px)) {
  .DashboardContainer {
    display: block;
  }

  .courselist{
    display: none;
  }

  .MidSection {
    margin: 1.5em 2em;

    &>.coursesContainer {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }

}

@media ((min-width: 481px) and (max-width: 768px)) {
  .DashboardContainer {
    display: block;

  }

  .searchCourses {
    border-radius: 15px;
    margin: 20px; 
  }

  .courselist{
    display: none;
  }
  .MidSection {
    margin: 3.5em 2em;


    &>.coursesContainer {
      grid-template-columns: repeat(2, 1fr);
      gap: 35px;
    }
  }

  .searchBox {
    // padding: 8px;
    // padding: 5px 20px;
    gap: 0px;
  }
}

@media ((min-width: 769px) and (max-width: 1024px)) {
  .MidSection {
  margin: 2rem ;

  &>.coursesContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
   
  }
}
}

@media ((min-width: 1025px) and (max-width: 1440px)) {}

@media (min-width: 1200px) and (max-width: 1440px) {

  .MidSection {

    &>.coursesContainer {
      grid-template-columns: repeat(4, 1fr);
      gap: 60px;
      grid-auto-rows: minmax(170px, auto);



    }


  }
}

@media (min-width: 1440px) {}