.JoinButton{
    background: #3173C8;
    color: #fff;
    border: none;
    padding: 10px 30px;

}

.missionContainer{

    display: flex;
    align-items: center;
}

.MissionText {
text-align: center;
font-weight: 600;
margin: 0px 30px;

&>*{
    margin: unset;
    margin: 50px 20px;
}

}


@media ((min-width: 320px) and (max-width: 480px)) {
    .missionContainer{
    display: block;
    
    }

    .MissionText {
        margin: 15px;

        &>*{
            margin: unset;
            padding: 15px ;
        }
      
        }
}

@media ((min-width: 481px) and (max-width: 768px)) {
    .scientist img{
        width: 200px;
        height: 200px;
        // margin: 60px auto;
        
    }
}

@media ((min-width: 769px) and (max-width: 1024px)) {
    .scientist img{
        width: 400px;
        height: 400px;
        // margin: 60px auto;
    }
}

@media ((min-width: 1025px) and (max-width: 1440px)) {

}

@media (min-width: 1200px) and (max-width: 1440px) {
.missionContainer{
    gap: 60px;
}

.MissionText {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px 40px;
    
    &>*{
        padding-bottom: 30px;
    }
    }

}

@media (min-width: 1440px) {

}