.partners{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px;
}


@media ((min-width: 320px) and (max-width: 480px)) {
    .partners{
        margin: 10px;
        gap: 15px;
    }
}

@media ((min-width: 481px) and (max-width: 768px)) {

}

@media ((min-width: 769px) and (max-width: 1024px)) {

}

@media ((min-width: 1025px) and (max-width: 1440px)) {

}

// @media (min-width: 1200px) and (max-width: 1440px) {

// }

@media (min-width: 1440px) {


}